{% extends "bootstrap/base.html" %}
{% block head %} 
{{ super() }}
<title>CRISPR</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 

{% endblock %}



{% block body %}
<div class="container">
	<div class="jumbotron">
		
		<center>
		<h1> Movie Recommender v0.7</h1>

		<p>Get recommendations for the movies you like and save your time</p>

		<a href="{{url_for('home')}}">Home</a>
		....................
		<a href="{{url_for('dashboard')}}">Dashboard</a>
		....................
		<a href="{{url_for('setpreferences')}}">Set Preferences</a>
		....................
		<a href="{{url_for('login')}}">Login</a>
		....................
		<a href="{{url_for('signup')}}">Signup</a>
		
		</center>
	</div>


	{% block content %}
	{% endblock %}

</div>
{% endblock %}
