{% extends "base.html" %}
{% block content %}
	
	<h1> Hello, {{ username }} </h1>
	<h4 style="text-align:center; color:red"> Here are Your Recommendations </h4>

	<ul class="list-group list-inline">
	{% for movie in movies %}

		<a href="{{ url_for('rate', movie_id=movie.id) }}">
		<li class="list-group-item">
			<p>{{ movie.name }}</p>
			<img src="/static/images/{{ movie.name }}.jpg"/>
		</li>
		</a>
		
	{% endfor %}
	</ul>
	
	<a href="{{ url_for('logout') }}">Logout</a>

{% endblock %}