{% extends "base.html" %}
{% block content %}
	
	<h1> Hello, {{ username }} </h1>
	<h4 style="text-align:center; color:red"> Here are Your Recommendations </h4>

	<ul class="list-group list-inline small">
	{% for movie in movies %}

		<a href="{{ url_for('rate', movie_id=movie[0].id) }}">
		<li class="list-group-item">
			<p>{{ movie[0].name.capitalize() }}</p>
			<img src="/static/images/{{ movie[0].name }}.jpg"/>
			<p>Predicted Rating: {{ movie[1] }}</p>
		</li>
		</a>
		
	{% endfor %}
	</ul>
	
	<a href="{{ url_for('logout') }}">Logout</a>

{% endblock %}