{% extends "base.html" %}
{% block content %}
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome-stars-o.css') }}">
    <script src="static/js/jquery-1.11.2.min.js"></script>
    <script src="static/js/jquery.barrating.min.js"></script>
    <script src="static/js/example.js"></script> -->
   

	<ul class="list-group list-inline">
  
	{% for movie in movies %}
    <!-- <div id="gridDiv" style="display: block;"> -->
		<li class="list-group-item">
      <div class="rw-ui-container"></div>
        <div class="col col-fullwidth">
          {{ movie.name.capitalize() }}

        </div>

			<img src="static/images/{{ movie.name }}.jpg"/>

		</li>
		<!-- </div> -->
	{% endfor %}
	</ul>
<script type="text/javascript">(function(d, t, e, m){
    
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
                
        RW.init({
            huid: "371183",
            uid: "45f793bc6df77670745208e42ad25aef",
            source: "website",
            options: {
                "advanced": {
                    "layout": {
                        "lineHeight": "16px"
                    },
                    "star": {
                        "stars": 5
                    },
                    "font": {
                        "size": "12px",
                        "bold": true
                    }
                },
                "size": "medium",
                "style": "lean_heart",
                "isDummy": false
            } 
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() + 
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;              
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script>
{% endblock %}
