{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="row">
	<div class="col-xs-4 center-block small">
		<div class="small text-success">
			{% if preference %}
				<h3> Current Preferences </h3>
				<p> Comedy: {{ preference.comedy * 10 }} </p>
				<p> Action: {{ preference.action * 10 }} </p>
				<p> Romance: {{ preference.romance * 10 }} </p>
				<p> Scifi: {{ preference.scifi * 10 }} </p>
			{% endif %}
		</div>

		<form class="form-signin" method="POST" action="{{url_for('setpreferences')}}">
			<h2 class="form-signin-heading">Enter preference values from 0 to 10</h2>
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.comedy) }}
			{{ wtf.form_field(form.action) }}
			{{ wtf.form_field(form.romance) }}
			{{ wtf.form_field(form.scifi) }}

			<button class="btn btn-lg btn-primary btn-block" type="submit">Set Preferences</button>
		</form>
	</div>
</div>


{% endblock %}
